#form-container {
  background-image: linear-gradient(to bottom left, #662785, #95aff1);
  height: 100vh;
}

.errorMessage {
display: none;
color: red;
}

/* Navigation bar styles */

.navbar {

  background-color: transparent; /* Make the navigation bar transparent */

  overflow: hidden;

  height: 130px; /* Double the height of the navigation bar */

  line-height: 80px; /* Center items vertically */

}



.navbar a {

  float: left;

  display: block;

  color: white;

  text-align: center;

  padding: 28px 20px; /* Adjust padding for larger size */

  text-decoration: none;

}



.navbar a:hover {

  background-color: rgba(255, 255, 255, 0.3); /* Change opacity on hover */

  color: black;

}



/* Container styles */

.container {

  width: 100%;

  max-width: 400px;

  margin: 30px auto;

  padding: 20px;

  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}



h2 {

  text-align: center;

  color: black;

}



form {

  margin-top: 20px;

}



form label {

  display: block;

  margin-bottom: 5px;

  color: black(146, 32, 32);

  font-weight: bold;

  

}



form input[type="text"],

form input[type="password"] {

  width: calc(100% - 20px); /* Adjust width to accommodate padding */

  padding: 10px;

  margin-bottom: 20px;

  border: 1px solid #ddd;

  box-sizing: border-box; /* So padding doesn't affect width */

}



form button {

  width: 100%;

  padding: 10px;

  background: rgb(126, 27, 175);

  border: none;

  color: white;

  cursor: pointer;

}



form button:hover {

  background: #5c0681;

}



.login-link {

  display: block;

  text-align: center;

  margin-top: 20px;

}



a:visited {

  color: black;

  background-color: transparent;

  text-decoration: none;

}



/* Image to the left of the screen */

.left-image {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px; /* Adjust the width as needed */
  height: 180px; /* Ensure full height */
  background-image: url('black.png'); /* Change 'left_image.jpg' to your desired image */
  background-size: cover; /* Ensure the image covers the entire height */
  z-index: 1;
}